.card-element {
    margin: 10px;
    width: 33.3%;
    text-align: center;
    box-shadow: 2px 10px 8px 2px #888888;
}

.mat-card-title {
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    font-weight: bold;
    line-height: 1.6;
}

.card-header {
    background: rgb(249, 249, 251) none repeat scroll 0% 0%;
    justify-content: center;
    margin-bottom: 5px;
    padding-top: 15px;
}

.counter:hover {
    cursor: pointer;
}

.disabled {
    pointer-events: none;
    color: grey;
}

button {
    width: 50%;
    font-family: 'Open Sans', sans-serif;
}

.payment-button {
    background: blueviolet;
    margin-bottom: 20px;
    color: white;   
}

#groupBookingCheckBox {
    align-self: start;
    margin-bottom: 20px;
    margin-left: 10px
}



@media only screen and (max-width: 600px) {
    .card-element {
        width: 90%;
    }
    #selectedRoomsCard{
        width: 96%;
    }
.mobile-view{
        width: 190px !important;
        margin-right: 4px !important;
        margin-left: 4px !important;
    }
}