mat-sidenav {
  width: 12%;
  border: 2px solid #ccc;
}


/* * Actual Sticky Footer Styles */

.all-wrap {
  min-height: 100vh;
}

.main_content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  border: 2px solid #ccc;
}

.content {
  background: radial-gradient(ellipse at center, rgba(237, 237, 237, 1) 0%, rgba(246, 246, 246, 1) 53%, rgba(255, 255, 255, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#ffffff', GradientType=1);
  color: black;
}

/* * Make the component injected by <router-outlet> full height: */

main {
  display: flex;
  flex-direction: column;
}

main>*:not(router-outlet) {
  flex: 1;
  display: block;
}

h1.app-name {
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  font-size: 42px;
  margin-left: 8px;
  color: #ee2e24;
}

h1.app-name:hover {
  cursor: pointer;
}

.router-link-active {
  background-color: gainsboro;
  color: black;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
  margin-top: -4px;
  width: 90%;
  float: right;
}

.toolbar{
  border: 2px solid;
  height: 75px;
  background: black;
}
.is-mobile .toolbar {
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
}

.link{  
  font-family: 'Roboto', sans-serif;
  font-size: 20px !important;
  margin-bottom: 20px;
}

@media only screen and (max-width: 600px) {
  h1.app-name {
    font-size: 30px;
    margin-left: 8px;
    color: #ee2e24;
  }
  .sidenav{
    width: 50%;
  }
}