<div fxFill fxLayout="column" fxLayoutAlign="center center">
    <div style="margin-bottom:80px;">
        <h1 class="tw"> </h1>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="80px">
        <button class="button button--antiman button--round-l button--text-medium" (click)="viewDashboard()"><i
                class="button__icon icon icon-plus"></i><span>Dashboard</span></button>
        <button class="button button--antiman button--round-l button--text-medium" (click)="viewBookings()"><i
                class="button__icon icon icon-plus"></i><span>Bookings</span></button>
    </div>
</div>